$primaryBlue : rgb(81, 117, 255);
$primaryHover : rgb(130, 156, 255);
$secondaryBlue: rgba(81, 117, 255, .2);
$secondaryHover: rgba(81, 117, 255, .4);
$dark100 : rgb(37, 41, 58);
$dark200 : rgb(51, 57, 80);
$dark300 : rgb(116, 123, 149);
$red : rgb(240, 91, 91);